@import "variables";
@import "mixins";

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  &__label {
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    color: $color-text-primary;
  }

  &__error {
    font-size: 0.75rem;
    color: $color-danger;
  }
}

.select {
  @include input-base;
  width: 100%;
  cursor: pointer;
  padding-right: 2.5rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236B7280'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px;
  font-size: 13px;

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }

  &--error {
    border-color: $color-danger;
    &:focus {
      border-color: $color-danger;
      box-shadow: 0 0 0 3px rgba($color-danger, 0.1);
    }
  }
}