.card {
  @include card;

  &--default {
    cursor: default;
  }

  &--interactive {
    @include card-interactive;
  }

  &--bordered {
    border: 2px solid $color-border-primary;
  }

  &--padding-none {
    padding: 0;
  }

  &--padding-sm {
    padding: $spacing-sm;
  }

  &--padding-md {
    padding: $spacing-lg;
  }

  &--padding-lg {
    padding: $spacing-xl;
  }
}